<p id="notice"><%= notice %></p>

<h1>Movie List</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Format</th>
        <th>Length</th>
        <th>Release year</th>
        <th>Rating</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.format %></td>
          <td><%= movie.length %></td>
          <td><%= movie.release_year %></td>
          <td><%= movie.rating %></td>
          <td><%= link_to 'Show', movie %></td>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
          <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Movie', new_movie_path %>
